
body {
  font-family: Arial, sans-serif;
  background-color: #eee7e7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: rgb(124, 0, 182); 
  margin-bottom: 20px;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
}



